.capitalize {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}
.normal {
    font-weight: 400;
}
.light {
    font-weight: 200;
}